PORT=8000
MONGODB_URI=mongodb+srv://singh26102003_db_user:<yourpasswprd>@cluster0.zr8d1h9.mongodb.net/?appName=Cluster0
ACCESS_TOKEN_SECRET=qpoewquriqpqp1qiwri2sjbfs3jzn6xb8vx78nzjsfx5n,n5vbz5jh5fu5gs5fuw5osjdn6cgfuey65cyu5fsajx4k5m6l
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=sf4dsasdg5agd5vbb35bx2bsfhb321zbbzbdsavbfnjfv3csgvdbhdg5ss0resvsgs2fs5gcvcaf5d5grac
REFRESH_TOKEN_EXPIRY=10d